<form class="mt-4" method='POST' action='/courses/handle-form-action'>
    <div>
      <h3>Khóa học của tôi</h3> 
      <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
    </div>
    <div class="d-flex align-items-center mt-3">
      <select class="form-select action-select" name="action" required>
          <option value="">-- Hành động --</option>
          <option value="delete">Xóa</option>
      </select>
      <button type="submit" class="btn btn-primary check-all-submit-btn disabled">Thực hiện</button>
    </div>

    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                    </div>
                </th>
                <th scope='col'>ID</th>
                <th scope='col'>Tên khóa học
                  {{sortable 'name' _sort}}
                </th>
                <th scope='col'>Trình độ
                  {{sortable 'level' _sort}}
                </th>
                <th scope='col' colspan="2">Thời gian tạo
                  {{sortable 'createdAt' _sort}}
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                  <td>
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                  </td>
                    <th scope="row">{{this._id}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>                    
                        <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                        <a class="btn btn-link" data-bs-id="{{this._id}}"  data-bs-toggle="modal" data-bs-target="#confirm-del-modal">Xóa</a>
                    </td>
                </tr>
              {{else}}
                  <tr>
                    <td class="text-center" colspan="5">Bạn chưa đăng khóa học nào. 
                      <a href="/courses/create">Đăng khóa học</a>
                    </td>
                  </tr>
            {{/each}}
    </table>
</form>

{{!-- Comfirm Delete Modal  --}}
<div id="confirm-del-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-del-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete Form --}}
<form name="delete-form-course" method='POST'></form>

<script>
    const confirmDelModal = document.getElementById('confirm-del-modal')
    const btnDelCourse = document.getElementById('btn-del-course')
    const delForm = document.forms['delete-form-course']
    const checkboxAll = document.getElementById('checkbox-all')
    const courseCheckboxes = document.querySelectorAll('input[name="courseIds[]"]');
    const checkAllSubmitBtn = document.querySelector('.check-all-submit-btn');
    
    
    let courseId = '';

    if (confirmDelModal) {
        confirmDelModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            courseId = button.getAttribute('data-bs-id')
        })
    }

    // Handle delete course
    btnDelCourse.onclick = () => {
        delForm.action = `/courses/${courseId}?_method=DELETE`
        delForm.submit()
    }

    // Handle select all checkbox
    checkboxAll.onclick = () => {
        courseCheckboxes.forEach(courseCheckbox => {
            courseCheckbox.checked = checkboxAll.checked
        })
        renderCheckAllSubmitBtn();
    }

    // Handle individual checkbox click
    courseCheckboxes.forEach(courseCheckbox => {
        courseCheckbox.onclick = () => {
            const allChecked = Array.from(courseCheckboxes).every(checkbox => checkbox.checked);
            checkboxAll.checked = allChecked;
            renderCheckAllSubmitBtn();
        }
    })

    // Handle action select change
    renderCheckAllSubmitBtn = () => {
        const isCheckedLessOne = Array.from(courseCheckboxes).some(checkbox => checkbox.checked);
        checkAllSubmitBtn.classList.toggle('disabled', !isCheckedLessOne);
    };
</script>
